*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#squares{
    width: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.square{
    width: 100px;
    height: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.bg-blue{
    background-color: blue;
}

.bg-red{
    background-color: red;
}

.bg-green{
    background-color: green;
}

.bg-normal{
    background-color: rgb(26, 87, 66);
}